html, body {
    height: 100%;
    min-width: max-content;
}
body {
    background: #FCDD76;
    /* fallback for old browsers */
    margin: 0;
    align-content: center;
}
#forma {
    min-height: 100vh;
    margin: 2em;
}
#contentOtk {
    text-align: -webkit-center;
}
#errForma {
    min-height: 100vh;
    text-align: center;
}
.inputLabel {
    display: grid;
    padding: 0em 0.5em;
}
#adc, #adc1 {
    height: 3em;
    padding-top: 0.5em;
}
#adc {
    position: absolute;
}
#worker {
    width: 100%;
    padding-top: 0.5em;
    display: inline;
}
#worker p {
    float: right;
    padding-right: 0.5em;
    font-family: Arial;
    font-size: larger;
    color: #5C6F93;
    padding-top: 0.5em;
}
#worker img {
    height: 1.5em;
    margin-bottom: -0.1em;
}
.header {
    background: #FFF;
    box-shadow: 0px 0.1em 1em 0px rgba(255, 255, 255, 1);
    height: 3.5em;
    text-align: center;
    padding-bottom: 0.5em;
    width: 100%;
    margin-bottom: 4em;
}
button {
    outline: none;
}
.button1 {
    background-color: red;
    width: 10em;
}
.form {
    display: flex;
    flex-direction: column;
    position: center absolute;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 1.3em;
    background: #FDFDFD;
    border-radius: 1.9em 1.9em 1.9em 1.9em;
}
.form1 {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    position: center absolute;
    min-width: 25em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1.3em;
    border-radius: 0.6em;
    min-height: 10em auto;
    box-shadow: 0px 0em 0.2em 0px rgba(255, 255, 255, 1);
    background: #FDFDFD;
    width: max-content;
}
.form1 input::placeholder, .form input::placeholder {
    color: lightgrey;
}
.form1 input:hover::placeholder, .form input:hover::placeholder {
    color: grey;
}
#formalign {
    width: min-content;
}
#priem_name {
    font-size: large;
    text-align: center;
    color: white;
    background-color: #5C6F93;
    padding: 0.5em 1em;
    margin: -1.3em -1.15em 1em -1.15em;
    border-radius: 0.5em 0.5em 0em 0em;
    box-shadow: 0px 0em 0.2em 0px rgb(255 255 255);
}
#cleardata {
    padding: 1em 1.3em;
    padding-bottom: 0;
    background: #F0F0F0;
    border-radius: 1.9em 1.9em 0em 0em;
    margin-bottom: 0;
    margin-top: 2em;
}
#cleardata input {
    border: 2px solid #FCDD76;
    border-radius: 1em;
}
#cleardata input:hover {
    cursor: pointer;
    opacity: 0.8;
}
option {
    margin:0,5em;
}
select, input, textarea {
    background-color: white;
    border: 1px solid #CED4DA;
    width: -moz-available;
}
select {
    height: 2.4em;
}
input {
    height: 2em;
}
.color_err {
    border: 2px solid orangered;
    height: 100px,inherit;
    width: 15em;
}
.comment {
    resize: vertical;
    height: 5em;
    width: -webkit-fill-available;
}
.msg {
    border: 1px solid orangered;
    border-radius: 3px;
    text-align: center;
    padding: 3px;
    background-color: white;
    color: orangered;
}
.msg1, .msg2 {
    border: 1px solid green;
    border-radius: 3px;
    text-align: center;
    padding: 3px;
    background-color: white;
    color: green;
    margin-bottom: 0em;
}
.msg2 {
    margin-top: 0.1em;
}
.serial {
    width: 15em;
    float: left;
}
.serial_lot {
    display: inline-flex;
    align-items: flex-end;
    align-self: center;
}
.color_err1 {
    border: 2px solid orangered;
    height: 100px,inherit;
}
.footer {
    font-size: medium;
    font-family: Arial;
    background-color: white;
    color: #5C6F93;
    height: 40px;
    padding: 0;
    padding-top: 0.5em;
    margin: 0;
    border: none;
    text-align: center;
    box-shadow: 0px 0em 1em 0px rgba(255, 255, 255, 1);
    width: 100%;
    line-height: 0.4;
}
#savedata, #savedata:hover, #nextbtn {
    background: #5C6F93;
}
#regdata, #regdata:hover {
    background: #FCDD76;
}
#addBtn, .delBtn {
    align-self: center;
    background-color: white;
    border: none;
}
#addBtn:hover, .delBtn:hover {
    opacity: 0.6;
}
#addBtn p, .delBtn p{
    font-size: x-large;
    margin: 0em;
}
#savedata, #regdata, #nextbtn, .buttons {
    margin-top: 1em;
    height: 3em;
    border: 0;
    box-shadow: none;
    width: 100%;
    color: white;
}
#nextbtn {
    height: 2.3em;
    width: 10em;
    margin-left: 2em;
    border: 1px solid lightgray;
}
#regdata a {
    margin: 0;
}
#savedata:hover, #regdata:hover, .buttons:hover {
    opacity: 0.8;
}
button, #exitbut, #savedata:hover, .buttons:hover, #regdata:hover, #nextbtn {
    cursor: pointer;
}
/* Dropdown Button */
.dropbtn {
    background-color: white;
    font-size: medium;
    font-family: Arial;
    color: white;
    font-weight: 700;
    border: 0;
    padding: 1em;
    height: 4em;
    border-radius: 0;
}
.dropbtn:hover #menu {
    filter: brightness(1.4) saturate(1);
}
.dropdown:hover #menu {
    filter: brightness(1.4) saturate(1);
}
#menu {
    height: 2em;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 10em;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 1em 2em 1em 3em;
    text-decoration: none;
    display: block;
}
.dropdown-content img {
    height: 1.5em;
    float: right;
    margin-top: -0.2em;
}
.dropdown-content p {
    margin: 0.5em 0em;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #5C6F93;
    color: white;
}
.dropdown-content a:hover img {
    filter: brightness(10) saturate(0);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/*Table*/
.table, .table1, .tableOtk, .tableMismatch {
    width: 100%;
    border-right: 5px solid #FFF;
    border-left: 5px solid #FFF;
    font-size: 1em;
    background: #FFF !important;
    box-shadow: 0px 0em 1em 0px rgba(255, 255, 255, 1);
    border-collapse: collapse;
    margin-bottom: 0;
}
.table th, .table1 th, .tableOtk th {
    font-weight: bold;
    padding: 7px;
    background: #FFD300;
    border: none;
    font-size: 15px;
    border-top: 3px solid #FFF;
}
.table td, .table1 td, .tableOtk td, .tableMismatch td {
    padding: 0.5em;
    border: none;
    font-size: 15px;
    min-width: 3em;
    max-width: 25em;
    border-bottom: 1px solid #CED4DA;
    border-left: 1px solid #DDDFE1;
    border-right: 1px solid #DDDFE1;
    height: auto;
}
.tableMismatch {
    margin: -1em 0em 1em 0em;
    box-shadow: none;
    border: none;
}
.table1 td {
    border: none;
}
.table1 {
    border: 5px solid #FFF;
}
.table #his {
    text-align: center;
}
#history {
    cursor: pointer;
}
#history:hover {
    background: #DBDBDB;
}
.table caption, .tableOtk caption, .table1 caption {
    border: 0.2em solid #FFF;
    background-color: #5C6F93;
    color: white;
    font-size: large;
    padding: 0.4em 0;
    box-shadow: 0px 0em 1em 0px rgba(255, 255, 255, 1);
}
.table caption, .table1 caption, .tableOtk caption {
    background-color: #5C6F93;
    box-shadow: 0px 0em 1em 0px rgba(255, 255, 255, 1);
}
.table tbody tr:nth-child(even) {
    background: #FFF7D3 !important;
}
.allPagination {
    display: inline-block;
    padding: 0.5em 0em;
    margin-bottom: 4em;
    background-color: white;
    min-width: 55em;
    width: 100%;
    box-shadow: 0px 3px 6px -1px rgb(255 255 255);
}
.pagination {
    float: left;
    padding-left: 1em;
    display: flex;
}
.pagination a {
    padding-top: 0.5em;
}
.pagBtn {
    color: black;
    padding: 0em 0.7em;
    height: 2.5em;
    border: none;
}
.pagBtn:hover {
    cursor: pointer;
    opacity: 0.6;
    background-color: #FFF7D3;
    border-radius: 2em;
}
#pagBtnActive {
    background-color: #FFF7D3;
    border-radius: 2em;
}
#pagBtnActive:hover {
    opacity: 1;
}
.multiselect {
    float: left;
    cursor: pointer;
}
.selectBox {
    position: relative;
}
.selectBox select {
    border: none;
}
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.overSelect:hover {
    cursor: pointer;
}
.optionClassOrder {
    display: none;
    position: absolute;
    z-index: 10000;
    background-color: white;
    width:max-content;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}
.optionClass {
    display: none;
    position: absolute;
    z-index: 10000;
    background-color: white;
    width: inherit;
}
.selectLabel {
    display: block;
    padding: 0.5em 1em 0.5em 0.5em;
}
.multiselect label:hover {
    opacity: 0.6;
    cursor: pointer;
}
.filterAndSort {
    max-height: 10em;
    display: flex;
    flex-direction: column;
}
.filterButton {
    background-color: white;
    border-bottom: 1px solid grey;
    
}
#filtersButtonAct {
    display: flex;
    padding-bottom: 0.4em;
    padding-top: 0.25em;
    padding-left: 0.6em;
}
#showFilter, #hideFilter {
    display: block;
    color: white;
    background: #5C6F93;
    border: none;
    margin-right: 0.2em;
    border-radius: 0.3em;
    width: -moz-fit-content;
}
#showFilter:hover, #hideFilter:hover {
    opacity: 0.8;
    cursor: pointer;
}
#filterContent {
    display: flex;
    background: white;
    padding: 1em 0.5em;
    width: fit-content;
    margin-top: 0;
    padding-top: 0.4em;
    border-top: 1px solid lightgray;
    width: -webkit-fill-available;
}
#label {
    border: 1px solid gray;
    border-top: none;
}
.multiselect input {
    height: auto;
    vertical-align: bottom;
    cursor: pointer;
    margin-right: 1em;
}
.filters {
    display: flex;
    flex-direction: column;
    margin-right: 0.5em;
    min-width: max-content;
    box-shadow: 0px 0px 1px 1px rgb(0 0 0 / 10%);
    background: white;
    height: fit-content;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.filterInput {
    padding: 0.5em 1em;
}
.filterInput:hover {
    cursor: pointer;
    opacity: 0.6;
}
.filterName {
    text-align: center;
    padding: 0.5em 0.5em;
    background-color: #5C6F93;
    color: white;
}
.filters input {
    height: auto;
    vertical-align: bottom;
    cursor: pointer;
    margin-right: 1em;
}
.date {
    text-align: right;
}
.ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
}
.ac_results ul {
    padding: 0;
    margin: 0;
}
.ac_results li {
    position: relative;
    margin: 0px;
    padding: 0.5em 1em;
    cursor: pointer;
    display: block;
    width: 100%;
    overflow: hidden;
}
.ac_results li:hover {
    background-color: #5C6F93;
    color: white;
}
.ac_over {
    background-color: Highlight;
    color: HighlightText;
}
.ac_loading {
    background: Window url('/i/progress.gif') right center no-repeat;
}
#errAccess {
    height: 100vh;
    text-align: center;
}
.tableOtk {
    border: 1px solid #CED4DA;
    border-top: none;
}
.tableOtk caption {
    border: none;
    font-size: medium;
}
.select {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}
.new-select {
    position: relative;
    border: 1px solid #CED4DA;
    padding: 0.4em 0.2em;
    cursor: pointer;
    user-select: none;
    background: white;
    margin-top: -2.9em;
}
.new-select__list {
    position: absolute;
    border: 1px solid #CED4DA;
    cursor: pointer;
    width: -webkit-fill-available;
    z-index: 2;
    background: #FFF;
    user-select: none;
}
.new-select__list.on {
    display: block;
}
.new-select__item span {
    display: block;
    padding: 0.4em 0.2em;
    background-color: white;
}
.new-select__item span:hover {
    color: #5C6F93;
    cursor: pointer;
}
.new-select.on:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.overflowClass {
    display: inline-grid;
    max-height: 17em;
    overflow-y: auto;
}
#downContentTesting {
    width: 30em;
    display: grid;
}
#downContentrepair {
    margin-top: 1em;
    min-width: 30em;
}
#downContentrepair input[type=submit] {
    margin-top: -0.1em;
}
#acceptbtn {
    background-color: red;
}
#infoHist {
    border: 0.2em solid #FFF;
    background-color: #5C6F93;
    color: white;
    font-size: large;
    box-shadow: 0px 0em 1em 0px rgb(255 255 255);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0em;
    border-top: none;
    height: 2.2em;
}
#infoHist p {
    margin-left: 1em;
}
#inp {
    display: grid;
    margin-top: 1em;
}
#empty {
    border: 1px solid white;
    background-color: white;
}
#infoBoard {
    background: #5C6F93;
    color: white;
    padding: 0.5em;
    text-align: center;
}
#form_submit:link {
    color: blue;
}
#form_submit:visited {
    color: blue;
}
#form_submit:link:hover {
    opacity: 0.6;
}
#maxrows {
    float: right;
    margin: 0.3em 1em 0em 0em;
}
.maxrowsBtn {
    margin: 0.5em 0.2em 0.3em 0.2em;
    padding: 0em;
    background: none;
    border: none;
    color: black;
}
.maxrowsBtn:hover {
    opacity: 0.6;
}
#clearForm, #clearFormAccept {
    border-color: gold;
    border-radius: 0.8em;
}
#clearForm:hover, #clearFormAccept:hover {
    cursor: pointer;
    opacity: 0.7;
}
#clearFormAccept {
    margin-bottom: 0.7em;
}
#activeMaxRows {
    color: #D1C89D;
}
#returnBtn {
    background-color: #FFF7D3;
    margin-left: 1em;
    padding: 0.4em 0.6em;
    border: 1px solid lightgrey;
    border-radius: 0.4em;
}
#returnBtn:hover {
    opacity: 0.6;
}
td.sorted[data-order="1"]::after {
    content: "⇈";
    padding: 0em 1em;
    position: absolute;
}
td.sorted[data-order="-1"]::after {
    content: "⇊";
    padding-left: 1em;
    position: absolute;
}
.pounterCurs:hover {
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.pounterCurs:hover::after {
    content: "⇵";
    opacity: 0.6;
    position: absolute;
    padding: 0em 0.5em;
}
#activeColumnSortAsc::after {
    content: "⇈";
    padding: 0em 0.5em;
}
#activeColumnSortDesc::after {
    content: "⇊";
    padding: 0em 0.5em;
}
#activeColumnSortAsc, #activeColumnSortDesc:hover {
    cursor: pointer;
}
td.sorted[data-order="-1"]:hover::after {
    opacity: 1;
}
td.sorted[data-order="1"]:hover::after {
    opacity: 1;
}
#allRows {
    margin: inherit;
    padding: 0.3em 0em 0em 1em;
    font-style: oblique;
    color: #5C6F93;
}
@-webkit-keyframes pulsate {
    50% {
        color: #FFF;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #FFD, 0 0 8px #FFF;
    }
}
@keyframes pulsate {
    50% {
        color: #FFF;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #FFD, 0 0 8px #FFF;
    }
}
.blinkText {
    text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
#contCreateOrder {
    display: grid;
}
.lotCrOrder {
    width: 3em;
    text-align: center;
}
#lotCrOrderLab {
    text-align: center;
}
#historyOtk{
    background: #FFF7D3;
    cursor: pointer;
}
#historyOtk:hover{
    opacity: 0.6;
    background: rgb(226, 226, 226);
}
