body {
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
form {
    display: flex;
    flex-direction: column;
    width: 400px;
}
option{
    margin:0,5em;
}
select {
    height: 2.4em;
}
input {
    height: 2em;
    box-shadow:none;
}
.color_err {
    background-color: #ffc7c7;
    height: 100px,inherit;
    width: 15em;
}
.comment {
    height: 5em;
    font-family:Arial;
}
.msg {
    border: 2px solid red;
    border-radius: 3px;
    text-align: center;
    padding: 3px;
}
.serial {
    width: 15em;
    float:left;
}
.lot {
    width: 5em;
    text-align:center;
}
.serial_lot {
    display:inline-flex;
}
.color_err1 {
    background-color: #ffc7c7;
    height: 100px,inherit;
